# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android / Gradle
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore

# iOS / macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
